
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav a:hover {
  color: #0077cc;
}

.page-title {
  padding: 2rem;
  text-align: left;
  font-size: 1.5rem;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.grid-item {
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #eaeaff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item.text {
  background-color: #fff;
  color: #333;
  font-size: 1.1rem;
  padding: 1rem;
}
